<header>
    <form method="post"  action="/search" >
        <h2>Search Pokemon</h2>
        <div class="group" >
            <label for="name"  class="form-label">Pokemon Name</label>
            <input name="search" type="text" placeholder="Pokemon Name" class="form-control" id="name">
        </div>
    </form>
</header>